@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {

  margin: 90px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #3C096C, #782CBF, #9D4EDD, #C77DFF);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: rgba(0,0,0,0.4);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
}

h2 {
  margin-bottom: 20px;
  color: #FFFFFF;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  font-size: 1em;
}

input, select {
  background-color: #C77DFF;
  color: #000;
}

button {
  background-color: #3C096C;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #782CBF;
  box-shadow: 0 0 10px #C77DFF;
}

.error {
  background: rgba(255, 0, 0, 0.6);
  padding: 8px;
  border-radius: 6px;
  margin-top: 10px;
}

.switch {
  margin-top: 15px;
}

.switch a {
  color: #C77DFF;
  text-decoration: none;
  font-weight: bold;
}

.switch a:hover {
  text-decoration: underline;
}

/* Responsywność */
/* @media (max-width: 600px) {
  .card {
    width: 90%;
    padding: 20px;
  }
  h2 { font-size: 1.5em; }
} */
.password-rules {
  text-align: left;
  margin: 10px 0;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-size: 0.9em;
}
.password-rules tr td {
  padding: 3px 5px;
}
.valid td {
  color: lime;
}
.invalid td {
  color: #ff4444;
}
#username-status, #email-status {
  font-size: 0.85em;
  display: block;
  margin-top: -5px;
  margin-bottom: 5px;
}
